*{
    margin: 0;
    padding: 0;
}

#footer{
    background: rgba(0, 0, 0, 0.397);
    height: 35vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    padding: 20px 0px;
    

    
}
.opening-hrs{
    display: flex;
    flex-direction: column;
    padding-left: 20px; 
}
.opening-hrs h2{
    padding-left: 40px;
}
.days-time{
    display: flex;
    text-decoration: none;
}
.days-time ul li{
    padding: 0px 20px;
    justify-content: flex-start;
}
.days ul li{
    list-style: none;  
}
.time ul li{
    list-style: none;
}

.media{
    padding-left: 250px;
    
    
    
}

.media .social-media i{
    padding: 5px;
    font-size: 30px;    
}



.media .media-info h3{
    margin: 10px 0px 0px 35px;
}

.contact{
    padding-left: 230px;
}

.contact h3{
    padding-left: 50px;
}

.copyright h4{
    justify-content: center;
    padding: 20px 33em;
}

@media (max-width: 799px) {
    #footer {
        display:block;
    }
    .media {
        padding-left: 60px;
    }

    .contact {
        padding-left: 60px;
    }
    .copyright h4 {
        padding-left: 80px;
    }
}